body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  background-image: url('../images/bg/bg-pat-1.png');
}
body p {
  font-size: 12px;
  letter-spacing: 1px;
}
#logo{
  display: flex;
  align-items: center;
  color: rgb(138, 48, 48);
  font-weight: 700;
  font-size: .8em;
}
#logo img {
  margin-right: 0.5em;
}
.my-navbar {
  font-weight: 500;
  width: 100%;
  background-color: rgba(0, 225, 255, 0.575); 
}
.my-carousel-item {
  height: 50vw;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.my-carousel-caption{
  background-color: rgba(0, 225, 255, 0.575);
}
.my-carousel-caption h5, .my-carousel-caption p{
  color: rgb(232, 252, 250);
}
.single-service{
  width: 110px;
  height: 110px;
  box-shadow: rgb(5, 187, 233) 0px 0px 10px;
  border-radius: 50%;
  padding: 3%;
  color: white;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
  background: linear-gradient(160deg, rgb(238, 119, 238), #37d2f1, rgb(80, 138, 247));
}
.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #00b0e6, 0 0 12px #00b0e6, 0 0 15px #00b0e6, 0 0 18px #00b0e6, 0 0 21px #e60073;
  }
  to {
    box-shadow: 0 0 6px #fff, 0 0 9px #4dcdff, 0 0 12px #4dcdff, 0 0 15px #4dcdff, 0 0 18px #4dcdff, 0 0 21px #ff4da6, 0 0 24px #ff4da6;
  }
}
.services-text{
  text-align: justify;
}
#clients-section{
  background-image: url('../images/ship6.jpg');
  background-size: cover;
  min-height: 400px;
}
.client-inner-div{
  background-color: #22d4f8b6;
  height: 400px;
}
.client-btn{
  background-color: #0dcaf0 !important;
  margin: .5em;
  padding-top: 3em;
}
.single-comment{
  border: 5px solid !important;
  border-image: linear-gradient(90deg, rgb(81, 149, 238), cyan, rgb(221, 15, 248)) !important;
  border-image-slice: 1 !important;
  margin-top: 60px;
}
.commenter-pic{
  margin-top: -50px !important;
  height: 100px;
}
.commenter-pic img{
  height: 100%;
  border-radius: 50%;
  border: 3px solid  #fc65fc;
  box-shadow: rgb(221, 15, 248) 0px 0px 15px;
}
.comment-quote{
  margin-top: 20px;
  text-align: justify;
}
.about-text{
  font-size: 1em;
  font-weight: 400;
  text-align: justify;
}
.about-text-inner-div{
  background-color: rgba(0, 0, 0, 0.03);
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: linear-gradient(100deg, rgb(253, 107, 233), #54d6fd);
  cursor: pointer;
  padding: 15px;
}
#myBtn:hover {
  background-color: #555;
}
.footer{
  bottom: 0;
  text-align: center;
}